/* Add here all your CSS customizations */

/*color*/
/*

main = 28a7e1
point = e64057
grary = 999
dark = 555
sub01 = 47C5FF
sub02 = E18C28

*/

@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

@media (min-width:1200px) {

	.container {width:1200px !important;}

}
.page-header {height:170px;}
.page-header-custom-background {padding:0;height:170px;min-height:170px;max-height:170px;line-height:170px;background-repeat:repeat;background-color:#333;border-top:0;border-bottom:0;text-align:left;}
.page-header h1 {text-align:left;font-size:40px;}
.page-header ul.pageNav {float:right;}
.page-header ul.pageNav li {display:inline-block;color:#fff;font-size:13px;}

/**/

body {
	background-color: #FFF;
	color: #333;
	font-family: 'Nanum Barun Gothic','Nanum Gothic', "Open Sans", Arial, sans-serif;
	font-size: 14px;
	letter-spacing:-1px;
	line-height: 22px;
	margin: 0;
}

a, a:hover, a:acitve, a:visited {text-decoration:none;}
ul, li { list-style:none;padding:0;margin:0;}

.fa {position: relative;}



/*button*/

input.submit {float:right;margin:10px auto 0;}



/*list*/

.list-box-quadrangle-simple {}
.list-box-quadrangle-simple ul {list-style:none;padding:0;margin:0;}
.list-box-quadrangle-simple li {display:table-cell;vertical-align:middle;float:left;color:#333;margin:0 10px 10px 0;border:1px solid #eee;width:192px;height:68px;}
.list-box-quadrangle-simple li:hover {color:#28a7e1;}
.list-box-quadrangle-simple i {display:table-cell;vertical-align:middle;text-align:center;font-size:2em;line-height:1.2em;padding:0 0 0 20px;margin:0;width:60px;height:68px}
.list-box-quadrangle-simple span {display:block;width:132px;height:68px;}
.list-box-quadrangle-simple p {display:table-cell;vertical-align:middle;text-align:center;line-height:1.2em;padding:0 0 0 0;margin:0;width:100%;height:68px;}



/*section*/
.section.style00 {padding:0;margin:0;}



/*font*/

h2.style02 {padding:30px 0 0;font-size:40px;}

.lead {color:#28a7e1;margin:0 0 3px;}

.lead.style01 {color:#000;margin:0 0 3px;line-height:1.6em;}
.lead.style02 {font-size:18px;color:#555;margin:0 0 3px;line-height:1.6em;}




/*paragraph*/

.block.light {}
.block.light p {color:#eee;}

.block {margin:0 0 50px;}
.block.style01 {display:block;padding:0;margin:100px 0 0;}
.block.style01 h3 {}

.block.style02 {}
.block.style02 h3 {padding:0 0 20px;}




/*box*/

.block.box01 {display:block;width:500px;margin-left:30px;padding:30px;color:#000;background:#fff;}

.block.box02 {display:block;text-align:center;width:286px;height:274px;border:1px solid #000;margin:150px auto;color:#000;background:#fff;}
.block.box02 h3 {display:inline-block;font-size:63px;border-bottom:1px solid #000;padding:40px 0 10px;}
.block.box02 p {display:inline-block;padding:30px 0 0;font-size:40px;color:#000;}
.block.box03 {display:inline-block;border:1px solid #555;width:200px;}



/*step*/
.block.box-step {display:inline-block;float:left;border:1px solid #ddd;padding:30px;margin:5px;width:200px;min-height:220px;}
.block.box-step .step {display:block;font-family:'Oswald', sans-serif;font-size:16px;font-weight:900;color:#000;letter-spacing:2px;margin:0;padding:0 0 13px 1px;}
.block.box-step .order {font-size:17px;font-weight:bold;color:#000;margin:0;padding:0;}
.block.box-step .details {font-size:13px;font-weight:normal;line-height:1.4em;color:#000;margin:10px 0 0;padding:10px 0 0;border-top:1px solid #eee;}
.block.box-step .details_small {font-size:12px;font-weight:normal;color:#000;margin:0;padding:0;}

@media (max-width:479px) {

	.block.box-step {display:inline-block;float:left;border:1px solid #ddd;padding:30px;margin-bottom:5px;margin-left:1%;margin-right:1%;width:48%;min-height:220px;}

}



/* sub */


/* sub01 - 맛방먹방쿡방 */

.sub01 .section {padding:180px 0;}
.sub01 .page-header-custom-background {background: url(http://enewsline.co.kr/data/media/image/sub01/201609/20160901152024290.jpg);}

.sub01 h2 {text-align:center;line-height:1.5em;display:block;font-size:50px;letter-spacing:10px;padding-left:20px;padding-bottom:50px;}
.sub01 h2 b {display:block;font-size:72px;letter-spacing:15px;padding:0 0 10px;font-weight:800;}

.sub01 h3 {text-align:center;line-height:1.5em;display:block;font-size:60px;font-weight:700;letter-spacing:-1px;padding-left:20px;padding-bottom:50px;}
.sub01 .lead {font-size:26px;color:#000;margin:0 0 3px;line-height:1.6em;text-align:center;}

.sub01 .img-responsive {margin:0 auto;}

.sub01 .section_step .step_img {min-height:450px;background: url(http://enewsline.co.kr/data/media/image/0001/201610/20161005112757555.png) no-repeat 50% 0;}

/* Responsive */
@media (max-width:479px) {
	.sub01 .container {padding:0 auto;}
	.sub01 h2 {font-size:2em;padding:0 0 40px;margin:0;}
	.sub01 h2 b {font-size:1em;padding:0;margin:0;}
	.sub01 h3 {text-align:center;line-height:1.5em;display:block;font-size:2em;font-weight:700;letter-spacing:-1px;padding:0;margin:0;}
	.sub01 .lead {font-size:1.1em;color:#000;margin:0 0 3px;line-height:1.6em;text-align:center;}
	.sub01 img {width:90%;}
}



/* sub02 - 병의원특별취재 */

.sub02 .page-header-custom-background {background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140111885.jpg);}
.sub02 h2 {font-size:32px;padding:0 0 0 30px;background: url(http://enewsline.co.kr/data/media/image/001/201610/2016100514005831.png) no-repeat 0 50%;}
.sub02 h3 {font-size:20px;color:#28a7e1;margin-bottom:5px;}
.sub02 p {font-size:16px;}

.sub02 .section_step .step_img {min-height:450px;background: url(http://enewsline.co.kr/data/media/image/0001/201610/20161005112757555.png) no-repeat 50% 0;}



/* sub03 - 강소기업탐방 */

.sub03 .section {padding:150px 0;}

.sub03 .page-header-custom-background {background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140111885.jpg);}

.sub03 h2 {text-align:center;line-height:1.5em;display:block;font-size:50px;letter-spacing:10px;padding-left:20px;padding-bottom:50px;}
.sub03 h2 b {display:block;font-size:72px;letter-spacing:15px;padding:0 0 10px;font-weight:800;}

.sub03 h3 {text-align:center;line-height:1.5em;display:block;font-size:60px;font-weight:700;letter-spacing:-1px;padding-left:20px;padding-bottom:50px;}
.sub03 .lead {font-size:26px;color:#000;margin:0 0 3px;line-height:1.6em;text-align:center;}

.sub03 .img-responsive {margin:0 auto;}
.sub03 .section_step .step_img {min-height:450px;background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140059664.png) no-repeat 50% 0;}



/* sub04 - 동영상기사 */

.sub04 .page-header-custom-background {background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140111885.jpg);}
.sub04 h2 {font-size:32px;padding:0 0 0 30px;background: url(http://enewsline.co.kr/data/media/image/001/201610/2016100514005831.png) no-repeat 0 50%;}
.sub04 h3 {font-size:20px;color:#28a7e1;margin-bottom:5px;}
.sub04 p {font-size:16px;}
.sub04 .img-responsive {}

.sub04 .section_step .step_img {min-height:420px;background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140059664.png) no-repeat 50% 0;}



/* sub05 - 인터뷰기사 */

.sub05 .page-header-custom-background {background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140111885.jpg);}
.sub05 h2 {font-size:32px;padding:0 0 0 30px;background: url(http://enewsline.co.kr/data/media/image/001/201610/2016100514005831.png) no-repeat 0 50%;}
.sub05 h3 {font-size:20px;color:#28a7e1;margin-bottom:5px;}
.sub05 .lead {font-size:20px;}
.sub05 p {font-size:16px;}

.sub05 .section02 {padding:100px 0; min-height:460px;background: url(http://enewsline.co.kr/data/media/image/sub05/201609/20160920100400268.png) no-repeat 50% 0;;}
.sub05 .section_step .step_img {min-height:450px;background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140059664.png) no-repeat 50% 0;}



/* sub06 - 언론홍보 */

.sub06 .page-header-custom-background {background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140111885.jpg);}
.sub06 h2 {font-size:32px;padding:0 0 0 30px;background: url(http://enewsline.co.kr/data/media/image/001/201610/2016100514005831.png) no-repeat 0 50%;}
.sub06 h3 {font-size:20px;color:#28a7e1;margin-bottom:5px;}
.sub06 .lead {font-size:20px;}
.sub06 p {font-size:16px;}

.sub06 .section06 {background: url(http://enewsline.co.kr/data/media/image/sub06/201609/20160920094133813.jpg) no-repeat 50% 0;;}
.sub06 .section_step .step_img {min-height:450px;background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140059664.png) no-repeat 50% 0;}



/* sub07 - 보도분야 */

.sub07 .page-header-custom-background {background: url(http://enewsline.co.kr/data/media/image/001/201610/20161005140111885.jpg);}
.sub07 h2 {font-size:32px;padding:0 0 0 30px;background: url(http://enewsline.co.kr/data/media/image/001/201610/2016100514005831.png) no-repeat 0 50%;}
.sub07 h3 {font-size:20px;color:#28a7e1;margin-bottom:5px;letter-spacing: -1px;}
.sub07 .lead {font-size:20px;}
.sub07 p {font-size:16px;}


/*contactUs*/

.contactUs .page-header-custom-background {background: url(http://enewsline.co.kr/data/media/image/001/201610/2016100515070410.jpg);}
.contactUs h2 {font-size:40px;}
.contactUs h2 span {display:block;font-size:20px;font-weight:normal;color:#999;}
.contactUs h4 {font-weight:800;padding:0 0 0 5px;margin:0 0 20px 0;}
.contactUs .lead {display:block;font-size:24px;font-weight:100;}
.contactUs .list > li span {display:inline-block;width:100px;}

.contactUs hr {margin:80px 0;}

.contactUs .editor {position:relative;float:left;width:100%;padding:30px 0 30px;margin:30px 0 30px ;border-bottom:1px solid #ddd;}
.contactUs .editor > p {position:relative;float:left;text-align:right;padding:0 0 10px;width:100%;border-bottom:1px solid #ddd;}

.contactUs .editor h3 {margin-bottom:15px;}
.contactUs .editor label {font-size:14px;width:100%;height:40px;line-height:40px;font-weight:800;margin:20px 0 0;}
.contactUs .editor .form input {font-size:14px;width:100%;height:47px;line-height:47px;padding:0 10px;border:1px solid #ddd;}

.contactUs .editor {}

.contactUs .editor .btnArea {}

.contactUs .editor > .keyword_fliter {position:relative;float:left;width:100%;}
.contactUs .editor > .keyword_fliter > h6 {display:inline-block;padding:0 10px 0 0;}
.contactUs .editor > .keyword_fliter > span {display:inline-block;background-color:red;color:#fff;padding:0 6px;margin-right:5px;}
.contactUs .editor > .keyword_fliter > p {display:inline-block;font-size:13px;padding:0;margin:0;color:red;}

.contactUs .editor .summernote {position:relative;float:left;width:100%;height:300px;border:1px solid #ddd;}
.contactUs .editor .delete_file {display:inline-block;margin-left:10px;}

.contactUs .editor .add_file {position:relative;float:left;width:100%;}
.contactUs .editor .add_file input {width:500px;}
.contactUs .editor .add_file .select_file {width:101px;height:47px;border:1px solid #ddd;background-color:#fff;margin-left:-1px;}
.contactUs .editor .add_file_list {position:relative;float:left;width:100%;margin:10px 0 0;}
.contactUs .editor .delete_file {display:inline-block;margin-left:10px;border:0;border-radius:6px;background-color:#cccccc;color:#fff;font-size:14px}

.contactUs .personal { position:relative;padding:20px 0 0;margin:20px 0 30px;}
.contactUs .personal p { padding:0;margin:0;color:#555;}
.contactUs .personal p.title { font-size:20px;padding:0;margin:0;}

#contactUs.white-popup-block {position:relative;background:#FFF;padding:20px 30px;text-align:left;width:500px;height:330px;margin:40px auto;}

@media (max-width:479px) {
	
	.contactUs .nav-secondary {display:unset;}
	.contactUs .nav-secondary .nav-pills {border-bottom:1px solid #ddd;}
	.contactUs .nav-secondary .nav-pills > li {float:left;display:inline-block;width:33.3333333333%;padding:0;margin:0;}
}

#estimateFonrmModal .modal-body {float:left;background-color:#fff;}
#estimateFonrmModal .personal .btnArea {margin:10px 0 0;}




/* Responsive */
@media (min-width:1200px) {
	#estimateFonrmModal .modal-dialog {width:800px;margin:30px auto;}
}




/* fa */
.list.list-icons li .fa, .list.list-icons li .icons {color:#333;border-color:#333;}





/*service*/

.service01 {}
.service01 div {width:85%;margin:0 auto 100px;padding-bottom:30px;border-bottom:1px solid #000;}
.service01 h4 {font-size:50px;padding:0 0 30px;}
.service01 h4 span {display:block;font-size:20px;padding:0 0 30px;}
.service01 p {font-size:18px;color:#000;line-height:1.6em;}

.form-group .textbox {border-radius:6px;border:1px solid #ddd;padding:20px;height:262px;overflow-y:scroll;}

.imgArea img {width:100%;}

.google-map {margin-top:100px;}



/* header main*/
#header .header-logo {display:block;max-width:200px;max-height:35px;}

/* header myAcount*/
.myAccount .logo_w {display:block;max-width:140px;max-height:25px;}

/* footer main */
#footer .logo_w {display:block;max-width:100px;max-height:18px;}

/* footer sub*/
.copyright .logo {padding-right:5px;}
.copyright .logo img {display:block;max-width:76px;max-height:14px;}



/* header */

#header .header-nav-top .nav > li > a, #header .header-nav-top .nav > li > span {color: #fff;font-size: 12px;padding: 7px 10px;display: inline-block;border-radius:0;}


/* footer */

#footer, #footer a, #footer p {color:#ddd;}
#footer a:hover {color:#28a7e1;text-decoration:none;}
#footer .aboutus i,
#footer .sitelink i,
#footer .notice i {color:#28a7e1;font-weight:100;padding:0 5px 0 0;}
#footer .pp-keywords h5 {color:#CCC;font-size:1em;font-weight:600;letter-spacing:normal;line-height:18px;margin:20px 0 14px 0;text-transform:uppercase;}
#footer .pp-keywords span {display:inline-block;border-style:solid;border-width:1px;border-radius:0;vertical-align:middle;
	touch-action:manipulation;text-align:center;color:#ccc;padding:5px 12px;margin:0 5px 5px 0;border-color:#ddd;float:left;}

#footer .logo img {width:100%;}
#footer .footer-copyright p {color: #555;margin: 0;padding: 0;}

/* footer sub */

#footer_sub {background:unset;border-top:0;font-size:0.9em;margin:0;padding:0;padding-top:50px;padding-bottom:50px;position:relative;clear:both;color:#555;}
#footer_sub a {color:#555;}
#footer_sub .footer-copyright {background:unset;border-top:0;margin:0;padding:0;}
#footer_sub .footer-copyright nav {float:unset;margin:0 auto;color:#555;text-align:center;}
#footer_sub .footer-copyright nav ul {list-style:none;margin:0;padding:0;}
#footer_sub .footer-copyright nav ul li:first-child {border:medium none;padding-left:0;}
#footer_sub .footer-copyright nav ul li {border-left:1px solid #505050;display:inline-block;line-height:12px;margin:0;padding:0 8px;}
#footer_sub .copyright {font-size:12px;line-height:12px;text-align:center;margin-top:10px;position:relative;width:100%;float:left;}
#footer_sub .copyright p {font-size:12px;line-height:12px;display:inline-block;vertical-align:top;}
#footer_sub .logo {display:inline-block;vertical-align:top;}

/*login form*/

.logForm {background-color:#f9f9f9;height:100%;margin:0;padding:0;}

.logForm #header .header-row {padding-left:-15px;padding-right:-15px;}
.logForm #header .header-column .row {margin-right: -15px;margin-left: -15px;}
.logForm #header {min-height:unset;margin:0;padding:0;background:unset;border:0;padding:80px 0 29px;
	-webkit-transition:min-height 0.3s ease;-moz-transition:min-height 0.3s ease;transition:min-height 0.3s ease;width:100%;z-index:1001;position:relative;}
.logForm #header .header-logo {position:relative;height:35px;}
.logForm #header .header-logo a { width:162px; vertical-align:bottom; position:absolute; display:block; left:0; bottom:0;}
.logForm #header .header-logo img {width:100%;margin:0;}
.logForm #header h1 {margin:0;margin-right:-15px;float:right;text-align:right;line-height:1em;font-size:36px;}
.logForm h2 {font-size:16px;font-weight:800;}
.logForm .loginForm, .logForm .joinForm {background-color:#fff;border:1px solid #ddd;padding:40px;}
.logForm .loginForm .form,
.logForm .joinForm .form {position:relative;margin-bottom:15px;}

.logForm .loginForm .form input,
.logForm .joinForm .form input {font-size:14px;width:100%;height:47px;line-height:47px;padding:0 10px;border:1px solid #ddd;}
.logForm .joinForm .form.id input {font-size:14px;width:100%;height:47px;line-height:47px;padding:0 10px;border:1px solid #ddd;}
.logForm .joinForm .form.id .formgroup {position:relative;}
.logForm .joinForm .form.id .formgroup input {width:100%;padding:0 145px 0 10px;border:1px solid #ddd;}
.logForm .btn.btn-idcheck {position:absolute;top:0;right:0;font-size:13px;color:#777;width:145px;height:47px;line-height:47px;padding:0;color:#fff;font-size:15px;}
.logForm .loginForm .form textarea,
.logForm .joinForm .form textarea {font-size:14px;width:100%;height:150px;padding:10px;border:1px solid #ddd;}
.logForm .loginForm .form select,
.logForm .joinForm .form select {font-size:14px;width:100%;height:47px;line-height:47px;padding:0 10px;border:1px solid #ddd;}
.logForm .btnArea {margin-top:20px;}
.logForm .loginForm .form label,
.logForm .joinForm .form label {font-size:16px;font-weight:100;padding:0 0 10px;}

.logForm .loginForm .form span,
.logForm .joinForm .form span {position:absolute;top:8px;right:0;font-size:13px;color:#777;}
.logForm .form span.warning {color:#ef4848;}
.logForm .form span.success {color:#28a7e1;}
.logForm .comment {font-size:13px;text-align:right;}

a.find {float:left;color:#555;}
a.join {float:right;color:#555;}

@media (max-width:479px) {
	/* logo */
	#header .header-logo {display: block;width: 130px;height: 23px; margin-top:20px;}
	.logForm #header .header-logo {display: block;width: 160px;height: 28px; margin:0; margin-left:-15px;}
	.logForm #header h1 {font-size:24px;}
}



/*myAccount*/

.myAccount {background-color:#f9f9f9;height:100%;margin:0;padding:0;}

.myAccount #header .header-narrow .header-body {min-height:0;}
.myAccount #header .header-container {min-height:70px;}
.myAccount #header .header-body {background:#383f48;border-top:0;border-bottom:0;padding:0;width:100%;z-index:1001;min-height:70px;}
.myAccount #header .header-body {-webkit-transition:min-height 0.3s ease;-moz-transition:min-height 0.3s ease;transition:min-height 0.3s ease;}

.myAccount #header .logbar {}
.myAccount #header .header_logo {position:relative;display:inline-block;float:left;width:149px;margin-top:20px;}
.myAccount #header .header_logo img {width:100%;vertical-align:top;}

.myAccount #header .header_nav {position:relative;display:inline-block;float:right;margin:15px 0 0;}
.myAccount #header .header_nav li {display:inline-block;}
.myAccount #header .header_nav li a {display:inline-block;padding:8px 20px;margin:0;color:#fff;background-color:#28a7e1;}
.myAccount #header .header_nav li a:hover {background-color:#ff9600;text-decoration:none;}
.myAccount #header .header_nav li a i {margin-right:8px;}

.myAccount #header .log_nav {position:relative;display:inline-block;float:right;margin:15px 0 0;}
.myAccount #header .log_nav ul {}
.myAccount #header .log_nav li {display:inline-block;float:left;}
.myAccount #header .log_nav .btn.btn-myAccunt {margin:0;}

.myAccount .header_title {position:relative;display:inline-block;float:left;margin-top:22px;}
.myAccount .header_title h1 {font-size:24px;line-height:24px;color:#fff;margin:0;padding:0;}

.myAccount .header_nav {position:relative;float:left;}
.myAccount .account_tabs {position:relative;float:left;display:inline-block;width:600px;}
.myAccount .account_tabs ul {display:block;position:relative;float:left;margin:0 0 -1px 0;padding:0;border-collapse:collapse;}
.myAccount .account_tabs ul li {list-style-type:none;margin:0 -1px -1px 0;width:170px;height:55px;line-height:55px;text-align:center;float:left;border:1px solid #ddd;border-bottom:0;border font-size:12px;border-collapse:collapse;background-color:#fff;}
.myAccount .account_tabs ul li:hover {background-color:#f2f2f2;}
.myAccount .account_tabs ul li:hover a {text-decoration:none;color:#000;}
.myAccount .account_tabs ul li.active {border:1px solid #ddd;border-bottom:0;background-color:#f2f2f2;}
.myAccount .account_tabs ul li.active a {text-decoration:none;color:#000;}

.my_point_info_top {position:relative;float:right;width:unset;padding:0;border:0;margin-top:0;display:inline-block;}
.my_point_info_top ul {}
.my_point_info_top li {display:inline-block;float:left;line-height:55px;margin-left:10px;}
.my_point_info_top li .name {display:inline-block;}
.my_point_info_top li .value {display:inline-block;min-width:70px;text-align:right;margin-right:5px;}

.myAccount .myinfo_table {}
.myAccount .myinfo_table h3 {font-size:16px;font-weight:800;padding:40px 0 20px;}
.myAccount .myinfo_table h3 > p {font-size:12px;font-weight:100;padding:0 0 0 20px;margin:0;display:inline-block;font-family:sans-serif;}

.myAccount .myinfo_table table {width:100%;border-top:2px solid #ddd;border-bottom:2px solid #ddd;font-family:sans-serif;}
.myAccount .myinfo_table tr {border-bottom:1px solid #eeeef0;height:52px;}
.myAccount .myinfo_table th {background-color:#f7f7f7;padding:0 15px;font-size:13px;}
.myAccount .myinfo_table td {background-color:#fff;padding:15px 15px;font-size:13px;}
.myAccount .myinfo_table thead tr {}
.myAccount .myinfo_table thead td {}
.myAccount .myinfo_table tbody tr {}
.myAccount .myinfo_table tbody td {}

.myAccount .myinfo_table tbody td .input-style {width:300px;}
.myAccount .myinfo_table tbody td input {position:relative;border:1px solid #ddd;padding:0 5px;line-height:26px;height:28px;}

.myAccount .myinfo_table tbody td .address input {display:block;margin-bottom: 5px}
.myAccount .myinfo_table tbody td .address input:nth-child(4) {margin-bottom: 0}
.myAccount .myinfo_table tbody td .address .zipCode {display:inline-block;width:150px;}
.myAccount .myinfo_table tbody td .address .btn {display:inline-block;height:28px;line-height:26px;padding:0 15px;margin:-4px 0 0 -5px;}

@media (max-width:479px) {

	.myAccount {position:relative;z-index:99}
	.myAccount #header .logbar {position:relative;float:left;display:block;width:100%;}

	.myAccount #header .logbar .log_nav {padding:0;margin:0;}
	.myAccount #header .logbar .log_nav li {padding:0;margin:0;}
	.myAccount #header .logbar .log_nav li a {padding:4px 8px;margin:0 3px 0 0;}

	.myAccount #header .header_nav {position:relative;display:inline-block;float:right;margin:0;}
	.myAccount #header .header_nav li a {padding:7px 16px;margin:0;}

	.myAccount .header_title {position:absolute;top:180px;left:15px;padding:0;margin:0;z-index:101;}
	.myAccount .header_title h1 {font-size:16px;}

	.myAccount .account_tabs {width:100%;padding:0;margin:0;}
	.myAccount .account_tabs ul {width:100%;background-color:#eee;padding:0;margin:0;}
	.myAccount .account_tabs ul li {width:33.333%;height:35px;line-height:35px;border:0;padding:0;margin:0;background-color:#eee;}
	.myAccount .account_tabs ul li.active {height:35px;border:0;background-color:#fff;}
	.myAccount .account_tabs ul a {height:35px;padding:0;margin:0;}

	.myAccount .my_point_info_top {position:relative;float:right;width:100%;padding:0;border:0;margin-top:0;display:inline-block;}
	.myAccount .my_point_info_top ul {float:right;padding:0;margin:0 10px 0 0;text-align:right;}
	.myAccount .my_point_info_top li {display:block;width:100%;height:30px;line-height:30px;padding:0;margin:0;}
	.myAccount .my_point_info_top li .name {}
	.myAccount .my_point_info_top li .value {min-width:10px;margin-left:3px;}
	.myAccount .my_point_info_top li button {padding:2px 3px;margin:0;}

	.myAccount .myinfo_table {padding:15px;}
	.myAccount .myinfo_table tbody td .input-style {width:100%;}
	.myAccount .myinfo_table th {width:30%;}

	.myAccount .myinfo_table tbody td .address .zipCode {display:inline-block;width:90px;}
	.myAccount .myinfo_table tbody td .address .btn {display:inline-block;height:28px;line-height:26px;padding:0 5px;margin:-4px 0 0 -5px;}

}
@media (min-width:768px) {

}



/* my newlist */

div#users-contain { margin:10px 0;}
div#users-contain table { margin:1em 0;border-collapse:collapse;width:100%;}
div#users-contain table td { border:1px solid #eee;padding:.6em 10px;font:12px verdana, arial, helvetica, sans-serif;}
div#users-contain .tright { border:1px solid #eee;padding:.6em 10px;font:bold 12px verdana, arial, helvetica, sans-serif;text-align:right;}
div#users-contain table td a { font:12px ;line-height:150%;}
div#users-contain table th { border:1px solid #eee;padding:.6em 10px;text-align:center;font:bold 12px verdana, arial, helvetica, sans-serif;!important;}

.ui-widget { font-size:1.1em;}
.ui-widget .ui-widget { font-size:1em;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family:Verdana, Arial, sans-serif;font-size:1em;}
.ui-widget-content { background-color:#fff;color:#222222;}
.ui-widget-content a { color:#222222;}
.ui-widget-header { background-color:#333;color:#eeeeee;font-weight:bold;}
.ui-widget-header a { color:#eeeeee;}

@media (min-width:768px){

}




/* Responsive */
@media (max-width:479px) {

	section.page-header h1 {display:block;text-align:center;margin-top:60px;}
	.page-header ul.pageNav {text-align:center;margin-top:20px;line-height:1em;float:unset;}


	/* logo */
	#header .header-logo {display: block;width: 130px;height: 23px; margin-top:20px;}
	.logForm #header .header-logo {display: block;width: 160px;height: 28px; margin:0; margin-left:-15px;}
	.logForm #header h1 {font-size:24px;}

	.myAccount #header .logbar .header_logo {width:80px;vertical-align:top;padding:0;margin:5px 0 5px 0;}
	.myAccount #header .logbar .header_logo a {display: block;width: 100px;height: 17px; margin:0;}

}

@media (min-width:480px;) and (max-width:767px) {

	.list-prd .list {margin-bottom:50px;}
	.list-prd div:nth-child(3) .list {margin-bottom:0;}
	
	.prdthumbanner .box {margin-bottom:50px;}
	.prdthumbanner div:nth-child(3) .box {margin-bottom:0;}

	.list-media .list li {margin-bottom:50px;}

	section.banner_01 {text-align: center}
	section.banner_01 img {max-width:90%;}

}


@media (min-width: 768px) {
	.list-media .textArea {margin-top: 0;}
	section.banner_01 {text-align: center}
}

@media (min-width: 992px) {

}





/*custom.css*/
/*base*/
.dn {display:none;}
.img-responsive {text-align: center; margin:0 auto;}
.red {color:red;}

/*icon*/
.i {
	font-family: 'notokr-thin';
	display:inline-block;
	border-style:solid;
	border-width: 1px;
	vertical-align: middle;
	cursor: default;
	text-align: center;
	color:#000;
	border-color:#ddd;
	margin:0 auto;
	background-color: #fff;
}
.i.radius {
	border-radius:6px;
}
/*size*/
.i.i-xs {
	font-size:11px;
	padding:3px 3px;
	line-height: 1em;
}
.i.i-sm {
	font-size:15px;
	padding:5px 10px;
	line-height: 1em;
}

/*color*/
.i.i-b {
	color:#fff;
	border-color:#555;
	background-color:#555;
}


/*button*/
.btnArea {
	text-align:center;
}
.btnArea.left {
	text-align:left;
}
.btnArea.right {
	text-align:right;
}

.btn {
	display:inline-block;
	border-style:solid;
	border-width: 1px;
	border-radius: 0;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	text-align: center;
	color:#000;
	border-color:#ddd;
	padding: 6px 12px;
}
.btn.radius {
	border-radius:6px;
}

.btn.mt {
	margin:0;
}
/*size*/
.btn.btn-xl {
	font-size:26px;
	line-height: 66px;
	padding:0 30px;
	height:66px;
}
.btn.btn-xm {
	font-size:20px;
	font-weight: 100;
	line-height: 56px;
	padding:0 30px;
	height:56px;
}
.btn.btn-xs {
	font-size:16px;
	font-weight: 100;
	line-height: 46px;
	padding:0 30px;
	height:46px;
}
.btn.btn-ml {
	font-size:14px;
	padding:10px 20px;
	line-height: 1em;
}
.btn.btn-mm {
	font-size:13px;
	padding:8px 15px;
	line-height: 1em;
}
.btn.btn-ms {
	font-size:12px;
	padding:5px 10px;
	line-height: 1em;
}
.btn.btn-sl {
	font-size:13px;
	padding:10px 26px;
	line-height: 1em;
}
.btn.btn-sm {
	font-size:12px; 
	padding:8px 15px;
	line-height: 1em;
}
.btn.btn-ss {
	font-size:11px;
	padding:3px 3px;
	line-height: 1em;
}


.btn.wide {
	width:100%;
}

/*color*/
.btn.btn-main {
	color:#fff;
	border-color:#28a7e1;
	background-color:#28a7e1;
}
.btn.btn-main:hover {
	color:#fff;
	border-color:#56bfef;
	background-color:#56bfef;
}
.btn.btn-point {
	color:#fff;
	border-color:#fd6c6c;
	background-color:#fd6c6c;
}
.btn.btn-point:hover {
	color:#fff;
	border-color:#fb8b8b;
	background-color:#fb8b8b;
}
.btn.btn-gray {
	color:#fff;
	border-color:#999;
	background-color:#999;
}
.btn.btn-dark {
	color:#fff;
	border-color:#555;
	background-color:#555;
}
.btn.btn-b {
	color:#fff;
	border-color:#555;
	background-color:#555;
}
.btn.btn-sub01 {
	color:#fff;
	border-color:#47C5FF;
	background-color:#47C5FF;
}
.btn.btn-sub02 {
	color:#fff;
	border-color:#E18C28;
	background-color:#E18C28;
}
.btn.btn-sub03 {
	color:#fff;
	border-color:#2F5261;
	background-color:#2F5261;
}


/* btn */

.btn.btn-footer-01 {
	position:relative;float:left;width:30%;margin-right:5px;
	padding:19px 0 8px;
	color:#fff !important;
}

.btn.btn-footer-01:nth-child(3) {
	margin-right:0;
}
.btn.btn-footer-01 span {
	position: relative;
	display:block;
	text-align:center;
	margin:0 auto 8px;
	font-size:20px;
	width:37px;
	height:37px;
	line-height: 37px;
	border:1px solid #eee;
	border-radius: 50%;
}

.btn.btn-footer-01 span > i {
	color:#fff !important;
	padding:0;
}

.btn.btn-footer-01:hover {
	background-color: #fff;
	border-color: #fff;
}

.btn.btn-footer-01:hover,
.btn.btn-footer-01:hover span,
.btn.btn-footer-01:hover span > i {
	color:#333!important;
}
.btn.btn-footer-01:hover span {
	border:1px solid #333;
}

.btn-myAccunt {
	color:#fff !important;
	font-size:12px;
	padding:0;
	margin:0;
}